<%- include('../../shared/includes/head', { pageTitle: 'Add new danceform' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Add new Danceform</h1>
    <%- include('includes/danceform-form', { submitPath: '/admin/danceforms', danceform: {
      title: '',
      instructor: '',
      fees: '',
      description: ''
    },
    imageRequired: true }) %>
  </main>
<%- include('../../shared/includes/footer') %>