<%- include('../../shared/includes/head', { pageTitle: 'All Registrations' }) %>
<link rel="stylesheet" href="/styles/registrations.css">
<script src="/scripts/registration-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <%- include('../../shared/includes/registration-list') %>
  </main>
</body>