<%- include('../../shared/includes/head', { pageTitle: 'All Your Registrations' }) %>
<link rel="stylesheet" href="/styles/registrations.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Registration Status</h1>
    <%- include('../../shared/includes/registration-list') %>
  </main>
<%- include('../../shared/includes/footer') %>