<article class="apply-item">
  <div class="apply-item-info">
   <h6>You are going to enroll in <%= item.danceform.title %> division.</h6>
  <h2>Instructor : <span class="apply-item-instructor"><%= item.danceform.instructor %></span> </h2>

  </div>
</article>